@media screen and (max-width:900px) {
    .building_container {
        flex-direction: column;
        align-items: center;
    }
    .building__item.first,
    .building__item.second,
    .building__item.third {
        width: 70%;
        padding-top: 30px;
    }
    .building__img {
	position: static;
        transform: none;
        &:hover{
            transform: none;
        }
}
}

@media screen and (max-width:600px) {
    .building_sendform {
	background-size: 100% 100%;
        width: 90%;
}
}