@media screen and (max-width:1050px) {
    .price__N {
        width: 2%;
    }
    .price__title {
        width: 18%;
    }
    .price__em {
        width: 10%;
    }
    .price__price {
        width: 10%;
    }
    .price__counter {
        width: 30%;
        text-align: center;
    }
    .price__total {
        width: 30%;
    }
    .form_counter {
        margin: 0 auto;
    }
}

@media screen and (max-width:920px) {
    .calculator_container {
        flex-direction: column;
        align-items: center;
    }
    .calculator_right {
        margin-top: 410px;
        margin-left: 0;
        width: 100%;
        max-width: 517px;
    }
}

@media screen and (max-width:630px) {
    .calculator_price__item {
        &.title {
            display: none!important;
        }
        margin-bottom: 30px;
    }
    .price__N {
        display: none;
    }
    .price__title {
        width: 100%;
        text-align: center;
    }
    .price__em {
        width: 50%;
        text-align: center;
    }
    .price__price {
        width: 50%;
        text-align: center;
    }
    .price__counter {
        width: 50%;
        text-align: center;
    }
    .price__total {
        width: 50%;
        text-align: center;
    }
    .price_sum_container {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
}

@media screen and (max-width:350px) {
    .price__counter {
        width: 100%;
    }
    .price__total {
        width: 100%;
    }
    .calculator_price__item {
        margin-bottom: 30px;
    }
}
