

.home_slider {
    position: relative;
    top: -260px;
    margin-bottom: -260px;
}

.home__slide {
    position: relative;
    padding-top: 56px;
    width: 33%;
    max-width: 314px;
    margin: 0 0.2% 0;
}

.home__img {
   // height: 300px;
}

.construction_container {
    width: 211px;
    margin: 0 auto;
}

.construction__item {
    background-image: url(img/constructions.png);
    height: 20px;
    margin: 0 auto;
}

.home__price {
    color: #ffffff;
    font-family: "Sprite Graffiti";
    font-size: 24px;
    font-weight: 400;
    /* Text style for "6000 руб." */
    letter-spacing: -0.24px;
    text-align: center;
}

.home__text {
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 20.01px;
    /* Text style for "Статья для" */
    letter-spacing: -0.12px;
    text-align: center;
}

.home__link {
    background-image: url(img/button.png);
    width: 130px;
    height: 48px;
    background-position: center;
    background-size: cover;
    display: block;
    text-align: center;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 48px;
    /* Text style for "ЗАКАЗАТЬ" */
    letter-spacing: -0.12px;
    margin: 14px auto 0;
    box-sizing: border-box;
}

.home_bottom {
    margin-top: 48px;
}

.home_bottom__link {
    background-image: url(img/button_dop.png);
    width: 253px;
    height: 48px;
    background-position: center;
    background-size: cover;
    display: block;
    text-align: center;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 48px;
    /* Text style for "ДОПОЛНИТЕЛ" */
    letter-spacing: -0.12px;
    margin: 0 auto;
}

@import "home_media";