@media screen and (max-width:1050px) {
    .price__N {
        width: 2%;
    }
    .price__title {
        width: 18%;
    }
    .price__em {
        width: 10%;
    }
    .price__price {
        width: 10%;
    }
    .price__counter {
        width: 30%;
        text-align: center;
    }
    .price__total {
        width: 30%;
    }
    .form_counter {
	margin: 0 auto;
}
}

@media screen and (max-width:992px) {
    .price_show__link,
    .price_delete__link {
        margin: 0 auto;
    }
    .price_sum_container {
        justify-content: center;
    }
}

@media screen and (max-width:630px) {
    .calculator_price__item {
        &.title {
            display: none!important;
        }
    }
        
        .price__N {
            display: none;
        }
        .price__title {
            width: 100%;
            text-align: center;
        }
        .price__em {
            width: 50%;
            text-align: center;
        }
        .price__price {
            width: 50%;
            text-align: center;
        }
        .price__counter {
            width: 50%;
            text-align: center;
            
        }
        .price__total {
            width: 50%;
            text-align: center;
           
        }
    .calculator_sendform {
	background-size: 100% 100%;
}
    
}

@media screen and (max-width:350px) {
        .price__counter {
            width: 100%;
            
        }
        .price__total {
            width: 100%;
           
        }
    .calculator_price__item {
        margin-bottom: 30px;
    }
}
