.header {
    padding-bottom: 500px;
}

.price_title {
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: 700;
    line-height: 9.01px;
    /* Text style for "Демонтажны" */
    letter-spacing: -0.12px;
    text-align: center;
    padding-top: 55px;
}

.price_show_table {
    margin-top: 48px;
}

.price_delete_container {
    margin-top: 48px;
    text-align: right;
}

.price_show__link,
.price_delete__link {
    background-image: url(img/button_dop.png);
    width: 253px;
    //  height: 48px;
    background-position: center;
    background-size: 100% 100%;
    display: block;
    text-align: center;
    font-family: 'Sprite Graffiti';
    font-variant: small-caps;
    color: #940f00;
    font-size: 20px;
    letter-spacing: -.24px;
    font-weight: 700;
    text-shadow: 2px 1px 2px rgba(250, 245, 236, 0.91);
    line-height: 48px;
    margin: 0 auto;
    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.1);
    }
}

.price_delete__link {
    margin-right: 0;
    display: inline-block;
    width: auto;
    padding: 0 10px;
}

.calculator_price {
    margin-top: 51px;
}

.calculator_price_list {}

.calculator_price__item {
    color: #ffffff;
    font-weight: 400;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 31px;
    /* Text style for "Наименован" */
    letter-spacing: -0.12px;
    &.title {
        font-weight: 700;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        line-height: 31px;
        /* Text style for "Наименован" */
        letter-spacing: -0.12px;
        margin-bottom: 0px;
        .price__title {
            text-align: center;
        }
    }
    //display: none;
    flex-wrap: wrap;
    margin-bottom: 4px;
    transition: opacity 0.3s ease 0s;
    height: 0;
    visibility: hidden;
    opacity: 0;
    &.active {
        opacity: 1;
        visibility: visible;
        height: auto;
        display: flex;
    }
}

.price__N {
    width: 2%;
}

.price__title {
    width: 38%;
}

.price__em {
    width: 15%;
}

.price__price {
    width: 15%;
}

.price__counter {
    width: 15%;
}

.price__total {
    width: 15%;
}

.form_counter {
    background-image: url(img/counterwood.png);
    width: 144px;
    display: flex;
    padding: 4px 6px 4px 3px;
    box-sizing: border-box;
}

.form_counter__button {
    display: block;
    width: 22px;
    box-sizing: border-box;
    background: none;
    border: 0;
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 9.01px;
    color: #000000;
    letter-spacing: -0.24px;
    outline: 0;
    box-sizing: border-box;
    &.more {
        font-size: 20px;
    }
}

.form_counter__input {
    width: 92px;
    height: 21px;
    box-shadow: inset 0 0 4px 1px rgba(21, 23, 24, 0.77);
    background-color: #f8eee2;
    border-radius: 21px;
    border: 0;
    text-align: center;
    margin: 0 auto;
}

.price__counter {
    margin: 0 auto;
}

.price__total {
    text-align: center;
    margin: 0 auto;
}

.price_sum_container {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: 39px;
}

.price_sum__title {
    color: #fefefe;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 31px;
    /* Text style for "Стоимость" */
    letter-spacing: -0.12px;
    padding-right: 9px;
}

.calculator_sendform {
    background-image: url(img/sendwood.png);
    max-width: 582px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 60px 42px;
    background-size: 100% 100%;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 48px;
}

.sendform__title {
    font-family: 'Sprite Graffiti';
    font-variant: small-caps;
    color: #000000;
    font-size: 20px;
    letter-spacing: -.24px;
    font-weight: 700;
    text-shadow: 2px 1px 2px rgba(250, 245, 236, 0.91);
    text-align: center;
}

.sendform__input {
    max-width: 278px;
    width: 100%;
    margin: 0 auto;
    height: 30px;
    box-sizing: border-box;
    box-shadow: inset 0 0 8px rgba(59, 35, 7, 0.89);
    background-color: #f8eee2;
    border: 0;
    outline: 0;
    padding: 0 11px;
    display: block;
    border-radius: 12px;
    margin-top: 26px;
}

.sendform__submit {
    background-image: url(img/button.png);
    width: 186px;
    height: 48px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    border: 0;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 33px;
    cursor: pointer;
    outline: 0;
    font-family: 'Sprite Graffiti';
    font-variant: small-caps;
    color: #940f00;
    font-size: 20px;
    letter-spacing: -.24px;
    font-weight: 700;
    text-shadow: 2px 1px 2px rgba(250, 245, 236, 0.91);
    text-align: center;
    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.1);
    }
}

.calculator_input__hidden {
    display: none;
}

@import "price_media";
